@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html>
    <body>
        @{
            foreach(var item in ViewBag.data)
            {
                <li>@item</li>
            }
        }
    </body>
</html>